.container {
  background: #141414;
  position: relative;
  height: 56px;
  line-height: 56px;
  padding: 0 0 0 35px;
  font-size: 14px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    background: #fff;
  }
}

.buttons {
  @include center-v;
  right: -15px;
}

.button {
  @include reset-input;
  border-radius: 100%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0 0 0 10px;
  font-size: 20px;
  color: #fff;
}

.removeButton {
  color: #333;
  border: 2px solid #333;
}

.hadoop {
  &::before {
    background: #c31690;
  }

  .addButton {
    background: $hadoop-gradient;
  }
}

.rails {
  &::before {
    background: #140753;
  }

  .addButton {
    background: $rails-gradient;
  }
}

.chronos {
  &::before {
    background: #00274f;
  }

  .addButton {
    background: $chronos-gradient;
  }
}

.storm {
  &::before {
    background: #00da99;
  }

  .addButton {
    background: $storm-gradient;
  }
}

.spark {
  &::before {
    background: #33f400;
  }

  .addButton {
    background: $spark-gradient;
  }
}
