:global {
  html,
  body {
    height: 100%;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
  }

  #__next { /* stylelint-disable-line */
    height: 100%;
  }


  h1 {
    font-weight: bold;
    font-size: 20px;
  }
}
