$hadoop-gradient: linear-gradient(135deg, #cb00d5 0%, #ec00b9 100%);
$rails-gradient: linear-gradient(135deg, #2437f3 0%, #7016df 100%);
$chronos-gradient: linear-gradient(135deg, #00bff7 0%, #007cda 100%);
$storm-gradient: linear-gradient(135deg, #00eb92 0%, #00d7b4 100%);
$spark-gradient: linear-gradient(135deg, #3df900 0%, #42df41 100%);
