.container {
  padding: 40px;
}

.title {
  display: block;
  font-size: 30px;
  color: #fff;
  margin: 0 0 40px;
}

.servers {
  margin: -20px 0 0 -20px;
}

.server {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0 0 20px;
}
