.container {
  width: 200px;
  height: 142px;
  background: #1e1e1e;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &::before {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    content: 'Destroy';
    background: rgba(#000, 0.7);
    line-height: 142px;
    text-align: center;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
